# Virtual Environments
/env

# Cache
__pycache__/

# Databases
*.sqlite

# save images
upload
upload-dev

# migrations database  
/migrations

# Bootstrap 5
app/static/css/bootstrap
app/static/js/bootstrap