{% extends "base.html" %}
{% from "_error_form_message.html" import error %}

{% block page_content %}
<div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 mx-auto row">
    <div class="ps-0 d-flex justify-content-start">
        <a type="button" class="btn btn-light" href="{{ url_for('manga.index', title = title)}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>
           Вернуться назад
        </a>
    </div>
    <h5 class="mb-3 mt-4 text-center">Добавление главы</h5>
    <form class="row g-4" method="POST" enctype="multipart/form-data" >
        {{ edit_chapter_form.hidden_tag() }}
        {{ edit_chapter_form.volume(class_="form-control", placeholder="Том") }}
        {{ error(edit_chapter_form.volume) }}
        {{ edit_chapter_form.chapter(class_="form-control", placeholder="Глава") }}
        {{ error(edit_chapter_form.chapter) }}
        {{ edit_chapter_form.title(class_="form-control", placeholder="Название") }}
        <label for="formFileMultiple" class="form-label px-0">Выберите все картинки</label>
        {{ edit_chapter_form.image(class_="form-control mt-0") }}
        {{ error(edit_chapter_form.image) }}
        <hr class="mb-0">
        <div class="d-flex justify-content-center">
            {{ edit_chapter_form.submit(class_="btn btn-primary px-3") }}
        </div>
    </form>
</div>
{% endblock %}