{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="d-flex">
    <div class="container ps-0 d-flex flex-column media">
        <img src="{{ manga.image_url() }}" alt="...">
        {% if current_user.is_authenticated and current_user.can(Permission.FOLLOW) %}
            {% if not current_user.is_reading(manga) %}
                <a href="{{ url_for('.follow', title = manga.title) }}"  type="button" class="btn btn-subscription mt-2">Читать</a>
            {% else %}
                <a href="{{ url_for('.unfollow', title = manga.title) }}" type="button" class="btn btn-danger mt-2">Перестать читать</a>
            {% endif %}
        {% endif %}
    </div>
    <div class="card-body p-0">
        <h5 class="card-title">{{ manga.title }}</h5>
        <p class="card-text">{{ manga.catalog }}</p>
        {% if manga.tags.count() %}
            {% for tag in manga.tags %}
                <a type="button" href="{{ url_for('manga.tag', name = tag.name) }}" class="btn btn-light mb-2">{{ tag.name }}</a>
            {% endfor %}
        {% endif %}
        <p class="card-text"><small class="text-muted">Автор: {{ manga.author }}</small></p>
        <p class="card-text"><small class="text-muted">Обновлено: {{ moment(manga.timestamp).fromNow() }}</small></p>
        <p class="card-text"><small class="text-muted">Добавил: <a href="{{ url_for('user.index', username = manga.user.username) }}">{{ manga.user.username }}</a></small></p>
        <p class="card-text"><small class="text-muted">Читают: {{ manga.users.count() }}</small></p>
        {% if current_user.is_authenticated and current_user.can(Permission.PUBLICATION) %}
            <div class="d-flex my-2 justify-content-center">
                <a  type="button" href="{{ url_for('.edit', title = manga.title) }}" class="btn btn-primary mt-2">Редактировать</a>
            </div>
        {% endif %}
        <h6>Главы:</h6>
        <div class="list-group">
            {% for chapter in manga.chapter.all() %}
                <a href="{{ url_for('manga.chapter', title = manga.title, volume = chapter.volume, chapter = chapter.chapter) }}" type="button" class="list-group-item list-group-item-action">Том {{ chapter.volume }} Глава {{ chapter.chapter }} {{ chapter.title}}</a>
            {% endfor %}
        </div>
        {% if current_user.is_authenticated and current_user.can(Permission.PUBLICATION) %}
            <div class="d-flex mt-2 justify-content-center">
                <a  type="button" href="{{ url_for('manga.add_chapter', title = manga.title) }}" class="btn btn-primary mt-2">Добавить главу</a>
            </div>
        {% endif %}
        <h6 class="mb-3 mt-4">Комментарии:</h6>
        {% if current_user.is_authenticated and current_user.can(Permission.COMMENT)%}
            <form action="{{ url_for('comment.add_manga_comment', title=manga.title) }}" method="post">
                {{ comment_form.hidden_tag() }}
                {{ comment_form.comment(class_="form-control", placeholder="Комментарий") }}
                <div class="d-flex justify-content-end my-2">
                    {{ comment_form.submit(class_="btn btn-primary px-3") }}
                </div>
            </form>
        {% endif %}
        {% include '_comments.html' %}

        {% if pagination and pagination.pages > 1 %}
        {{ macros.pagination_widget(pagination, '.index', title=manga.title) }}
        {% endif %}
{% endblock %}