{% extends "base.html" %}
{% import "_pagination.html" as pagination %}
{% import "_manga.html" as manga %}
{% import "_news.html" as news %}
{% import "_tags.html" as tags %} 
{% import "_top_users.html" as top_users %}
{% import "_chapters.html" as chapters%}

{% block page_content %}
<form class="d-flex" method="get" action="{{ url_for('main.manga_list') }}">
    {{ search_form.search(placeholder="Поиск манги",class_="form-control me-2") }}
    {{ search_form.submit(class_="btn btn-primary") }}
</form>
<div class="row mt-4" >
  <div class="col-9">
    <h6 class="mb-3">Популярная манга</h6>
    <div class="anime-grid">
      {{manga.widget(popular_manga, current_user)}}
    </div>
    <h6 class="mb-3 mt-4">Последние новости</h6>
    <div class="news-grid">
      {{news.widget(last_news)}}
    </div>
    <h6 class="mb-3 mt-4">Новая манга</h6>
    <div class="anime-grid">
      {{manga.widget(pagination_new_manga.items, current_user)}}
    </div>
    {% if pagination_new_manga and pagination_new_manga.pages > 1 %}
      {{ pagination.widget(pagination_new_manga, '.index') }}
    {% endif %}
  </div>
  <article class="col-3">
    <h6 class="mb-3">Топ активных пользователей</h6>
    {{top_users.widget(popular_users, moment)}}
    <h6 class="mb-3 mt-4">Часто используемые теги</h6>
    {{tags.widget(popular_tags)}}
    <h6 class="mb-3 mt-4">Новые главы</h6>
    {{chapters.widget(new_chapters)}}
  </article>
</div>
{% endblock %}
