{% extends "base.html" %}
{% import "_pagination.html" as macros %}
{% import "_manga.html" as manga %}

{% block page_content %}
<form class="d-flex" method="get">
    {{ search_form.search(placeholder="Поиск манги",class_="form-control me-2") }}
    {{ search_form.submit(class_="btn btn-primary") }}
</form>
<h5 class="mb-3 mt-4">Вся манга</h5>
<div class="anime-grid">
    {{manga.widget(pagination.items, current_user)}}
</div>

{% if pagination and pagination.pages > 1 %}
{{ macros.widget(pagination, '.manga_list', search=search_form.search.data ) }}
{% endif %}

{% endblock %}