{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block page_content %}
<form class="d-flex" method="get">
    {{ search_form.search(placeholder="Поиск тегов",class_="form-control me-2") }}
    {{ search_form.submit(class_="btn btn-primary") }}
</form>
<h5 class="mb-3 mt-4">Все теги</h5>
{% for tag in pagination.items %}
    <a href="{{ url_for('manga.tag', id = tag.id) }}" type="button" class="btn btn-light mb-2">{{ tag.name }}</a>
{% endfor %}

{% if pagination and pagination.pages > 1 %}
{{ macros.pagination_widget(pagination, '.tags_list') }}
{% endif %}
{% endblock %}