{% extends "base.html" %}

{% block page_content %}
<form class="d-flex" method="get">
    {{ search_form.search(placeholder="Поиск торрентов",class_="form-control me-2") }}
    {{ search_form.submit(class_="btn btn-primary") }}
</form>
<h5 class="mb-3 mt-4">Все торренты</h5>

<table class="table table-hover">
    <thead>
      <tr>
        <th style="width: 60%" scope="col">Имя</th>
        <th style="width: 20%" scope="col">Размер</th>
        <th style="width: 20%" scope="col">Дата</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="">Hellsing Manga</a></td>
        <td>357.0 MiB</td>
        <td>2008-06-23 10:24</td>
      </tr>
    </tbody>
  </table>
{% endblock %}