.fw-bold a {
  text-decoration: none;
}

.fw-bold a:hover {
  text-decoration: underline;
}

.card-title a {
  text-decoration: none;
}

.card-title a:hover {
  text-decoration: underline;
}

#logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(328deg)
    brightness(102%) contrast(103%);
}

#footer-logo {
  filter: invert(45%) sepia(26%) saturate(161%) hue-rotate(167deg)
    brightness(94%) contrast(87%);
}

.circle .image-wrap {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

.avatar {
  background-position: center;
  background-size: cover;
  transition: transform 0.5s ease-in-out;
}

.avatar-large {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  margin: 20px;
}

.avatar-small {
  min-width: 48px;
  min-height: 48px;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
}

.avatar-header {
    min-width: 22px;
    min-height: 22px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
}

.avatar-user {
  min-width: 58px;
  min-height: 58px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.image_title {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 210px;
  border: none;
}

.user-info .list-group-item {
  border: none;
  background-color: #f8f9fa;
}

.btn-light:hover {
  background-color: #e9ecef;
}

.info-user:hover {
  background-color: transparent;
}

.fw-bold small {
    font-weight: 400;
}

.nav-link {
    color: #fff !important;
}

.btn-subscription {
    background-color: #00E676;
    color: #fff;
}

.btn-subscription:hover {
    background-color: #00C853;
    color: #fff;
}

.btn-edit-admin {
    background-color: #FFA726;
    color: #fff;
}

.btn-edit-admin:hover {
    background-color: #FFCA28;
    color: #fff;
}

.btn-ban {
    background-color: #EF5350;
    color: #fff;
}

.btn-ban:hover {
    background-color: #F44336;
    color: #fff;
}

.media {
  width: 250px;
}

.page-img {
  max-height: 100vh;
}

.page-img-nav {
  border: 1px 0px 1px 0px;
  border-radius: 0px;
}

.news-list a {
  border: none;
}

.select {
  max-width: 250px; 
  border-radius: 0px !important;
  border-left: 0px;
  border-right: 0px;
  border-color: #dee2e6 !important;
}