<p>Пользователь {{ user.username }},</p>
<p>чтобы сбросить пароль <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">нажмите сюда</a>.</p>
<p>Или можете скопировать следующую ссылку в адресную строку браузера:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.</p>
<p>С уважением,</p>
<p>команда MangaLibrary</p>
<p><small>Примечание: сообщения отправленные на данную почту не отслеживаются.</small></p>
