{% extends "base.html" %}
{% from "_error_form_message.html" import error %}

{% block page_content %}
<div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 mx-auto">
    <h5 class="mb-3 mt-4 text-center">Изменить почту</h5>
    <form class="row g-4" method="post" >
        {{ change_email_form.hidden_tag() }}
        {{ change_email_form.email(class_="form-control", placeholder="Почта") }}
        {{ error(change_email_form.email) }}
        {{ change_email_form.password(class_="form-control", placeholder="Пароль") }}
        {{ error(change_email_form.password) }}
        <hr class="mb-0">
        <div class="d-flex justify-content-center">
            {{ change_email_form.submit(class_="btn btn-primary px-3") }}
        </div>
    </form>
</div>
{% endblock %}