{% extends "base.html" %}
{% from "_error_form_message.html" import error %}

{% block page_content %}
<div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 mx-auto">
    <h5 class="mb-3 mt-4 text-center">Восстановить пароль</h5>
    <form class="row g-4" method="post" >
        {{ password_reset_form.hidden_tag() }}
        {{ password_reset_form.password(class_="form-control", placeholder="Пароль") }}
        {{ password_reset_form.password2(class_="form-control", placeholder="Повторить пароль") }}
        {{ error(password_reset_form.password) }}
        <hr class="mb-0">
        <div class="d-flex justify-content-center">
            {{ password_reset_form.submit(class_="btn btn-primary px-3") }}
        </div>
    </form>
</div>
{% endblock %}