{% for item in pagination.items %}
<div class="container px-0 py-2 my-2 d-flex align-items-start">
    <div class="avatar avatar-small ms-2" style="background-image: url({{ item.user.avatar_url() }}) ">
    </div>
    <div class="ms-2 d-flex flex-column flex-fill">
        <div class="fw-bold d-flex justify-content-between align-items-center pe-2"> 
            <div class="fw-bold"><a class="link-dark" href="{{ url_for('user.index', username = item.user.username) }}">{{ item.user.username }}</a>
            {% if item.user.is_administrator() %} 
                <small class="text-muted"> •</small> <small class="text-primary"> {{ item.user.role.name }}</small>
            {% endif %}
            </div>
            <small class="text-muted">{{ moment(item.timestamp).format('L') }}</small>
        </div>
        <!-- <p class="card-title">Комментарий к <a class="link-primary" href="">Не издевайся, Нагаторо-сан </a></p> -->
        <p>
            {% if item.disabled or item.user.banned() %}
                <i>Данный комментарий был заблокирован модератором.</i>
            {% endif %}
        </p>
        <p>
            {% if moderate or not item.disabled and not item.user.banned() %}
                {{ item.body }}
            {% endif %}
        </p>
        <div class="d-flex justify-content-end">
            {% if moderate %}
                {% if item.disabled %}
                    <a type="button" href="{{ url_for('.moderate_enable', id=item.id, page=page) }}" class="btn btn-light ms-2">Разблокировать</a>
                {% else %}
                    <a type="button" href="{{ url_for('.moderate_disable', id=item.id, page=page) }}" class="btn btn-edit-admin ms-2">Заблокировать</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}