{% macro widget(manga, current_user) %}
  {% for item in manga %}
    <div class="mb-2">
      <div class="d-flex flex-column justify-content-center" >
        <div class="p-0 position-relative poster md-poster" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right"
            title="<b>{{ item.title }}</b> <p>{{item.catalog}}</p>" style="background-image: url({{ item.image_url() }})">
          {% if current_user.is_reading(item) %}
            <div class="position-absolute bottom-0 start-0 px-4 mb-2 rounded-end" style="background-color: #00e676; color: #Fff" >
              Читаю
            </div>
          {% endif %}
        </div>
        <h6 class="card-title mt-2"><a class="link-dark" href="{{ url_for('manga.index', id = item.id) }}">{{ item.title }}</a></h6>
      </div>
    </div>
  {% endfor %}
{% endmacro %}