{% macro widget(manga, current_user) %}
  {% for item in manga %}
    <div class="mb-2">
      <div class="d-flex flex-column justify-content-center" >
        <div class="p-0 position-relative poster md-poster" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right"
            title="<b>{{ item.title }}</b> <p>{{item.catalog}}</p>" style="background-image: url({{ item.image_url() }})">
          {% if current_user.is_reading(item) %}
            <button type="button" class="btn ms-2 mt-2" style="background-color: #00e676; color: #Fff; pointer-events: none">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
              </svg>
            </button>
          {% endif %}
        </div>
        <h6 class="card-title mt-2"><a class="link-dark" href="{{ url_for('manga.index', id = item.id) }}">{{ item.title }}</a></h6>
      </div>
    </div>
  {% endfor %}
{% endmacro %}